@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* This is the signature "Hope Rise" Beige Color */
  background-color: #FDF8F0;
  color: #1a1a1a;
  font-family: 'DM Sans', sans-serif; /* A modern, friendly font */
  -webkit-font-smoothing: antialiased;
}